
<ion-content>
  <ion-grid class="contain">
    <ng-container *ngIf="usuario">
      <ion-row class="user-card contain__row" >
        <ion-col size="12" class="contain__title">Usuario {{ usuario.id }}</ion-col>
      </ion-row>
      <ion-row class="user-card contain__row">
        <ion-col size="12">
          <ion-label class="input-label">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.firstName"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Segundo nombre</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.secondName"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Primer Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.firstLastName"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Segundo Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.secondLastName"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Telefono</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.numberCell"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Direccion</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.address"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label class="input-label">Email</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button (click)="guardar()">Editar</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>

