<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="section-title">INVENTARIO DE VEHICULO</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="hidden">
        <ion-label class="input-label">No</ion-label>
        <ion-input type="hidden" [(ngModel)]="inventario.id"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label class="input-label">Descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="inventario.description"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-select label="opcion" placeholder="seleccione" [(ngModel)]="inventario.option">
              <ion-select-option value="SI">SI</ion-select-option>
              <ion-select-option value="NO">NO</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="crearInven()" expand="full">Guardar</ion-button>
        <ion-button routerLink="/create-vehiculo" expand="full" color="warning">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
