

<ion-content id="contenedor">

  <div id="containerImg">
    <img src="assets/images/logo.png" alt="">
  </div>


<div id="contentCard"  >

<ion-card  style="height: 300px; overflow: auto"  >

<form >

    <ion-item lines="inset">
<ion-label position="stacked" color="danger">Usuario</ion-label>
<br />
<ion-input  class="sizeFontTitle" ></ion-input>
    </ion-item>

    <ion-item lines="inset">
<ion-label position="stacked" color="danger">Contraseña</ion-label>
<br />
<ion-input  class="sizeFontTitle" type="password"></ion-input>
    </ion-item>



    <br /><br />

    <div class="center">
      <ion-button type="submit" style="margin:auto ;" color="danger" fill="outline" routerLink="/home">
        Iniciar Sesión
      </ion-button>
    </div>

  </form>


</ion-card>



</div>



</ion-content>
